/*---------------------------------------------------------------------------
G L O B A L   E L E M E N T S
---------------------------------------------------------------------------*/  
body { background-color: #fff; }
/*Headers*/
h1, h2, h3, h4 { color: #6d6e71; }
h1 { font: normal 250%/1.3em verdana, lucida, arial, helvetica, sans-serif; } 
h2 { font: normal 165%/1.3em verdana, lucida, arial, helvetica, sans-serif; }
h3 { font: bold 120%/1.3em verdana, lucida, arial, helvetica, sans-serif; color: #B3CD16; }
h4 { font: normal 100%/1.3em verdana, lucida, arial, helvetica, sans-serif; }

/*Links*/
a, a:visited, a:active { color: #0186C9; text-decoration: underline; }
a:hover { text-decoration: none; }
/*---------------------------------------------------------------------------
C O M M O N   E L E M E N T S
---------------------------------------------------------------------------*/
#wrapper { width: 800px; margin:0; font: normal 70%/1.3 verdana, lucida, arial, helvetica, sans-serif; color: #6d6e71 }
#container { width:800px } 
#container input { width: 170px; margin: 0 0 15px 0; }
#RESUcontent, #REDOcontent, #RETCcontent, #ACcontent, #TCcontent { width: 800px; margin: 0 auto; position: relative; }
.field { position: relative; }
.field select { margin: 0 0 15px 0; }
.field label, .nonInputLabel { width: 150px; text-align: right; position: absolute; right: 260px; top: 6px; font-weight: bold; }
#VPcontent label, #FPcontent label { right: 185px; }
#RAMcontent label { float:right }
#SIcontent label { right: 210px; }
.nonInputLabel, label.nonInputLabel { top: 0; }
p.username { margin: 15px 0 15px 0; }
.hintContainer, .hintContainerSmall { width: 210px; height: 86px; margin: 0 0 0 0; display: none; color: #fff; font-size: 90%; line-height: 1.1em;  background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img210x13_TopBubble.gif) left top no-repeat; }
.hintContainer p, .hintContainerSmall p { margin: 13px 0 0 0; padding: 0 0 13px 0; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img210x14_BottomBubble.gif) left bottom no-repeat; }
.hintContainer span, .hintContainerSmall span { padding: 0 15px; display: block; background-color: #B3CD16; }
.hintContainerSmall { width: 177px; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img177x12_TopBubble01.gif) left top no-repeat; }
.hintContainerSmall p { margin: 12px 0 0 0; padding: 0 0 12px 0; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img177x12_BottomBubble01.gif) left bottom no-repeat; }
.hintContainerArrow { position: absolute; top: 20px; left: -23px; }
.error { width: 220px; position: absolute; top: 10px; left: 178px; color: red; font-size: 85%; line-height: 1.2em; }	
.errorCountry { position: absolute; top: 8px; left: 315px; }
.errorBirth { position: absolute; top: 4px; left: 198px; }
#pwdStrengthContainer { width: 110px; height: 40px; position: absolute; top: -3px; left: 200px; }
.pwStrength { width: 93px; height: 8px; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img93x8_Strenght.gif) left top no-repeat; }
#genderField { margin: 0 0 20px 0; position: relative; }
#genderField .nonInputLabel { right: 320px; }
#genderField label { width: auto; padding: 0 40px 0 5px; position: relative; top: 0; left: 0; font-weight: normal; float: left; }
#genderField input { width: auto; float: left; }
.birthDayDropdown { width: 43px; }
.birthYearDropdown { width: 57px; }
.questionDropdown { width: 270px; font-size: 90%; }
.countryDropdown { width: 310px; }
.countrySmallDropdown { width: 180px; }
.stateDropdown { width: 160px; }
.creditcardDropdown { width: 174px; }
#footer { width: 800px; height: 40px; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img865x1_Dots.gif) no-repeat; }
#footerSmall { margin:20px 0 0 170px; width:545px; height: 40px; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img865x1_Dots.gif) no-repeat; }
.noWhiteSpace { *display: block; } /*hack used to show selector for IE only*/
.clear { clear: both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }
.leftFloat { float: left; }
.rightFloat { float: right; }
ul.navSupp { width: 538px; padding: 0 0 0 35px; margin: 0 0 40px 0; list-style: decimal; overflow: hidden; border: 1px solid #D0D0D0;  }
.navSupp li { margin: 0 40px 0 0; line-height: 50px; color: #D0D0D0; font-size: 100%; font-weight: bold; display: inline; }
.navSupp .lastItem { margin: 0; }
.navSupp li.active /*, .navSupp .active a*/ { color: #0186C9; }
/*------------------------------
HEADERS/PARAGRAPHS
------------------------------*/
#container h2 { position: absolute; top: 96px; left: 500px;/*335*/ }
#RESUcontent h2, #REDOcontent h2, #RETCcontent h2, #ACcontent h2, #VPcontent h2, #FPcontent h2 { width: 350px; height: 31px; position: absolute; text-indent: -9999px; }
ul#progress { position: absolute; top: 0px; right:50px; } 
#progress li p { margin: 15px 8px 0 0; text-indent: 0px; font-size: 12px; font-weight: bold; color: #b9b9b9; }
#progress li.activeStep { background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img41x11_StepArrow_On.gif) no-repeat; }
#progress .activeStep p { color: #0186C9; }
#pwdStrengthContainer p { width: 200px; margin: 0 0 3px 0; font-size: 85%; }
/*------------------------------
LINKS
------------------------------*/
.btnGreen, .btnBlue { width: 132px !important; height: 18px; border: none; color: #fff; display: block; text-align: center; font: bold 90%/18px verdana, lucida, arial, helvetica, sans-serif; text-decoration: none; cursor: pointer; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/btn132x18_Green.gif); }
a.btnGreen:visited, a.btnGreen:hover, a.btnGreen:active, a.btnBlue:visited, a.btnBlue:hover, a.btnBlue:active { color: #fff; text-decoration: none; }
.btnBlue { height: 19px; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/btn132x19_Blue.gif); }
#footer a, #footerSmall a { width: 124px; height: 24px; position: absolute; top: 10px; right: 0; text-indent: -9999px; display: block; background: url(https://a248.e.akamai.net/cache.lego.com/upload/contentTemplating/AccountDictionary/images/1033/picCD1C7A66-D037-477E-A1B1-D5089DB8BB38.gif) top right no-repeat; }
/*------------------------------
IMAGES
------------------------------*/
img.topBorder { display:none } 
.pwStrength img { width: 0; margin: 1px; position: absolute; top: 0; top: 15px; }
.seperator { height: 1px; margin: 20px 0; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img12x1_Dots.gif) repeat-x; }
/*---------------------------------------------------------------------------
R E G I S T R A T I O N
-----------------------------------------------------------------------------
RESU = Registration Sign Up page
REDO = Registration Done page
RETC = Registration Terms of Condition
--------------------------------
STRUCTURE
------------------------------*/
#REDOcontent { padding: 150px 0 40px 0; }
#RESUcontent { padding: 70px 0 10px 0; }
#RETCcontent { width: 865px; padding: 180px 0 40px 0; }
#REDOtxt { width: 670px; margin: 0 0 0 83px; padding: 20px 0 0 0;  }
#RESUcontent fieldset { width: 250px; margin: 0 0 0 315px; }
.RESUinputOk { position: absolute; top: 0; left: 178px; display: none; }
.RESUtxt { width: 170px; margin: -13px 0 10px 0; font-size: 90%; line-height: 1.2em; display: none; }
#RETCtxt { width: 670px; height: 400px; margin: 0 0 0 95px; padding: 0 15px 0 0; overflow: auto; }
.RESUhintUsername { position: absolute; top: -13px; left: 190px; }
.RESUerrorUsername { top: -3px; }
.RESUhintPw { position: absolute; top: -5px; left: 315px;  } 
.RESUhintQuestion { position: absolute; top: -13px; left: 315px; }
.RESUinputOkQuestion { position: absolute; top: 0; left: 275px; display: none; }
.RESUerrorQuestion { position: absolute; top: 5px; left: 275px; }
.RESUhintAnswer { position: absolute; top: -10px; left: 220px; }
.RESUhintBirth { position: absolute; top: -13px; left: 240px; }
.RESUerrorBirth { position: absolute; top: 8px; left: 210px; }
.RESUinputOkBirth { position: absolute; top: 0; left: 203px; display: none; }
.REfooter { width:545px !important; margin: 15px 0 0 120px; *margin: 25px 0 0 120px; position: relative; } 
.RETCfooter, REDOfooter { margin: 80px auto 0 auto; position: relative; }
.RESUmailLabel, .RESUmailChildLabel, .RESUcountryLabel, .RESUgenderLabel { width: 130px; text-align: right; position: absolute; right: 254px; top: 0; }
.RESUmailChildLabel { width: 145px; }
label.RESUquestionLabel { right: 280px; }
label.RESUbirthLabel { right: 514px; }
.RESUquestionField { width: 270px; }
.RESUbirthField, .RESUmailField, .RESUcountryField { width: 503px; }
#genderField .RESUgenderLabel { right: 514px; }
#RETCtxt h4 { font-weight: bold; padding-bottom: 5px; }
#TOCcheckBox { text-align: right; }
#TOCcheckBox input { width: 20px; margin: 0px; }
#TOCcheckBoxValidation { text-align: right; }
#KoreanCountryWarning { display: none; }
#PIIContainer select { width: 174px; }
/* -----------------------------
HEADERS/PARAGRAPHS
------------------------------*/
#RESUcontent h2, #REDOcontent h2, #RETCcontent h2 { background: url(https://a248.e.akamai.net/cache.lego.com/upload/contentTemplating/AccountDictionary/images/1033/picAC869DF4-5A56-4B94-944E-98B8ACA4227A.gif) no-repeat; }
#RESUcontent h2 { left:285px; top: 15px; }
#REDOcontent h2 { left: 83px; top: 130px; }
#RETCcontent h2 { width: 350px; left: 90px; top: 140px; }
#REDOcontent h3 { margin: 0 0 15px 0; font-size: 100%; color: #6d6e71; font-weight: normal; }
#RETCcontent h3 { width: 670px; margin: 0 0 20px 95px; }
#REDOcontent p { margin: 0 0 0 0; }
/* -----------------------------
LINKS
------------------------------*/
#RESUcontent .RESUsubmitBtn { position: absolute; top: -10px; left: 0; }
.RESUcheckUsernameBtn { width: 68px !important; position: absolute; top: 0; left: 200px; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/btn68x18_Check.gif); }
.RESUconfirmBtn { margin: 0 0 20px 0; display: block; text-decoration: none; }
.RETCrejectBtn { position: absolute; bottom: 110px; right: 225px; }
.RETCacceptBtn { position: absolute; bottom: 111px; right: 85px; }
#REDOtxt a { position:relative; top:20px; }
/* -----------------------------
IMAGES
------------------------------*/
.RESUseperator { width: 545px; margin: 5px 0 20px 170px; }
.RESUseperatorLast { width: 545px; margin: 5px 0 30px -145px } 
.RESUminiFig { position: absolute; top:40px; left:20px; height:230px; width:144px; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img144x230_Minifig.gif); }  
