.background1 { background: #12121e url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picF3E2743A3E9A2770FE87C46379BC8F87.jpg) repeat-x top center; }

.background2 { background: #0c1417 url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/pic70EEF7D53B83042441498CFA43950EF1.jpg) repeat-x top center; }

.background3 { background: #e7ecf2 url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picA73564AE2568FDC6C64C6986162B3D70.jpg) repeat-x top center; }

.background4 { background: #14100f url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picF17019E7B309F453338598874913979A.jpg) repeat-x top center; }

.background5 { background: #14100f url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picF17019E7B309F453338598874913979A.jpg) repeat-x top center; }

.background6 { background: #0b0a18 url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picCA40A3E9E185A4AA77A991B1D6C15ED0.jpg) repeat-x top center; }

.background7 { background: #141414 url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picF9E7C8C1F90D83A245FAD4C9F13D5FB3.jpg) repeat-x top center; }

	.background7 #Breadcrumbs li { color: #141414; }
	.background7 #Breadcrumbs a { color: #141414; }
	.background7 #Breadcrumbs a:hover { border-color: #141414; }
	

.background8 { background: #e1e1e1 url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/pic3C060A0063DCF9F47A8A130340C881E7.jpg) repeat-x top center; }

.background9 { background: #0c1417 url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picEB1BC99CB73CAC9D8D30334E069C97EE.jpg) repeat-x top center; }