div.loginpanel { width:950px; height:494px; background-image: url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picF23C8B1B1A020900EE40739DF626E023.png) }
div.activatepanel { width:950px; height:494px; background-image: url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picF23C8B1B1A020900EE40739DF626E023.png); }
div#mission { background-image: url(http://cache.lego.com/upload/contentTemplating/UniverseDictionary/images/1033/picF569E0C0C66ECE85EAD9480D7D658212.png); background-repeat:no-repeat; width: 704px; height: 341px; margin:-14px -14px -28px -14px; }
#mission p { position:relative; top:60px; width:290px; padding:0 35px 0 0; float:right }
#Span1 { font-size:1.1em }
.access-beta { position:absolute; width:900px; top:400px; padding: 0; left: 24px; }
.login-text, .activate-text { text-align:center; font-size:2em }
.login-buttonsContainer { width:900px }  
.login-buttons { padding:20px 0 0 0; float:left; width:450px } 
.login-buttons .betabutton-signin { float:right }
.login-buttons .betabutton-signup { float:left }
.login-buttons a { margin:0 0 0 20px } 
.activate-button { padding:10px 0 0 0; margin:0px auto; width:205px } 
.activate-button a { margin:0 0 0 20px }
.breaking-news, .breaking-news img { float:left }
.breaking-news p { float:left; width:340px; padding:0 0 0 10px }
.help-improve img { float:left }
.mission-image { clear:both; margin:0; display:block; }
.flagText { font-weight:bold; padding:0 20px 0 0; font-size:1.2em }
/* POLL */
p.poll { width: 320px; margin-top:0; padding-left:0; height: 10px; }
.poll {  margin: 0 0 12px 4px; padding: 0px; clear:both; }
.poll-caption { margin:3px 140px 3px 15px; }
.poll-caption  span { float:right; font-size: 0.9em; display: none; }
.poll-progress { width: 200px; height:22px; background-position: top left; background-repeat:no-repeat; margin:2px 0 4px 4px; }
.poll-progress-bar { width:200px; height:15px; background-position:top right; background-repeat:no-repeat; position:relative; left:3px; top:3px; } /* width 443px is 100% */
.poll-progress-bar span { display:block; margin-right: 0; background-position:bottom left; background-repeat:no-repeat; position:absolute; top:0; left:0; bottom:0; right:7px; }
.poll-progress-highlight {} 
.pollQuestion { margin-top: 40px; padding-left: 15px; }
fieldset.poll {margin-top:10px;}
fieldset.poll p { display:block; padding:4px; } 
fieldset.poll p label { width:205px; cursor: pointer; line-height:1.2em; font-size: 1em; color: #999999; padding: 0px; }
fieldset.poll input { margin:2px 4px 0 10px; background:transparent; }
p.poll { margin-left:4px; }
.poll-0		{ display: none; }
.poll-5		{ width:4px; }
.poll-10	{ width:18px; }
.poll-15	{ width:25px; }
.poll-20	{ width:35px; }
.poll-25	{ width:45px; }
.poll-30	{ width:55px; }
.poll-35	{ width:65px; }
.poll-40	{ width:75px; }
.poll-45	{ width:85px; }
.poll-50	{ width:95px; }
.poll-55	{ width:105px; }
.poll-60	{ width:115px; }
.poll-65	{ width:125px; }
.poll-70	{ width:135px; }
.poll-75	{ width:145px; }
.poll-80	{ width:155px; }
.poll-85	{ width:165px; }
.poll-90	{ width:175px; }
.poll-95	{ width:185px; }
.poll-100	{ width:194px; }
/* poll images */
.poll-progress { background-image:url('http://cache.lego.com/images/universe/Community/Dark/pollProgressBG200px.png'); }
.poll-progress-bar { background-image:url('http://cache.lego.com/images/universe/Community/Dark/pollProgressBarOrange.png'); }
.poll-progress-bar span { background-image:url('http://cache.lego.com/images/universe/Community/Dark/pollProgressBarOrange.png'); }
.poll-progress-highlight { background-image:url('http://cache.lego.com/images/universe/Community/Dark/pollProgressBarGreen.png'); } 
.poll-progress-highlight span { background-image:url('http://cache.lego.com/images/universe/Community/Dark/pollProgressBarGreen.png'); } 

#releaseNotes { max-height:835px; overflow:auto; margin:8px; }
#releaseNotes { max-height:835px; overflow:auto; margin:8px; position:relative; overflow-x:hidden; }
#releaseNotes h1 { position:static; }
#releaseNotes { max-height:835px; overflow:auto; margin:8px; }
#openingHours { width:225px; }
