/*---------------------------------------------------------------------------
G L O B A L   E L E M E N T S
-----------------------------------------------------------------------------
This style sheet is used by the entire LEGO.com
---------------------------------
RESETS
------------------------------*/
* { margin: 0; padding: 0; }
table { border-collapse: collapse; font-size: 100%; } 
img, fieldset { border: 0; }
ol, ul { list-style: none; }

/*------------------------------
SITE POSITIONING
------------------------------*/
html { text-align: center; }
body { width: 950px; margin: 0 auto; position: relative; text-align: left; }

/*------------------------------
GLOBAL HEADER
------------------------------*/
/*STRUCTURE*/
#GHcontainer { width: 950px; height: 82px; position: relative; background: url(img/950x082_bg.gif) no-repeat; font: bold 55%/1.25 Verdana, lucida, arial, helvetica, sans-serif; }
#GHprimaryNav li { position: absolute; top: 20px; list-style: none; }
li.GHLEGOlogo { left: 10px; }
li.GHhome { left: 79px; }
li.GHproducts { left: 167px; }
li.GHplay { left: 255px; }
li.GHshop { left: 343px; }
#GHsearch { width: 292px; height: 33px; position: absolute; top: 20px; left: 465px; background: url(img/292x033_search_bg.gif) no-repeat; border: none; }
.GHsearchInput { width: 200px; height: 14px; position: absolute; top: 6px; left: 10px; }
#GHregion { position: absolute; top: 4px; left: 793px; }
/*LEGOid*/
#GHsignedIn, #GHnotSignedIn { width: 147px; height: 50px; position: absolute; top: 20px; left: 792px; overflow: hidden; background: url(img/img147x50_950.gif) no-repeat; }
#GHsignedIn ul, #GHnotSignedIn ul { padding: 6px 0 0 78px; }
#GHnotSignedIn li { margin: 4px 0 0px 0; list-style: none; }
#GHsignedIn li { margin: 0 0 4px 0; list-style: none; }
#GHsignedIn li.GHsignedInUsername { margin: -2px 0 3px 0; color: #68B4DA; }
/*LMF*/
#GHlmfNotSignedIn, #GHlmfSignedIn { width: 148px; height: 50px; position: absolute; top: 20px; left: 792px; overflow: hidden; background: url(img/148x050_logout_play_bg.gif) no-repeat; }
#GHlmfSignedIn { background: url(img/148x050_login_play_bg.gif) no-repeat; }
#GHlmfNotSignedIn ul, #GHlmfSignedIn ul { margin: 21px 0 0 55px; }
#GHlmfNotSignedIn li, #GHlmfSignedIn li { list-style: none; }

/*LINKS*/
#GHprimaryNav a { width: 85px; height: 50px; display: block; text-indent: -9999px; }
#GHprimaryNav .GHLEGOlogo a { width: 49px; height: 49px; background: url(img/049x049_logo.gif) no-repeat; }
.GHhome a { background: url(img/085x050_home_off.gif) no-repeat; }
.GHhome a:hover { background: url(img/085x050_home_on.gif) no-repeat; }
.GHproducts a { background: url(img/085x050_products_en_off.gif) no-repeat; }
.GHproducts a:hover { background: url(img/085x050_products_en_on.gif) no-repeat; }
.GHplay a { background: url(img/085x050_play_off.gif) no-repeat; }
.GHplay a:hover { background: url(img/085x050_play_on.gif) no-repeat; }
.GHshop a { background: url(img/085x050_shop_off.gif) no-repeat; }
.GHshop a:hover { background: url(img/085x050_shop_on.gif) no-repeat; }
fieldset a.GHsearchBtn { width: 59px; height: 19px; position: absolute; top: 7px; left: 223px; text-indent: -9999px; background: url(img/059x019_search_en_btn.gif) no-repeat; }
a.GHprivacy { width: 292px; height: 11px; position: absolute; top: 56px; left: 465px; display: block; text-indent: -9999px; background: url(img/292x011_privacy_en_btn.gif) no-repeat; }
#GHregion a { margin: 0 0 0 22px; color: #2489BD; }
/*LEGOid*/
#GHsignedIn a, #GHnotSignedIn a { color: #0186C9; text-decoration: none; }
#GHsignedIn a:hover, #GHnotSignedIn a:hover { text-decoration: underline; }
/*LMF*/
a.GHlmfSignInTxt { color: #999; text-decoration: none; }
a.GHlmfSignInReg { color: #228DC5; text-decoration: none; }
a.GHlmfSignInTxt:hover, a.GHsignInReg:hover { text-decoration: underline; }


/*IMAGES*/
#GHregion img { position: absolute; top: 2px; left: 0; }
#GHlmfSignedIn img { float: left; }
.GHstuds1, .GHstuds2 { width: 18px; height: 50px; position: absolute; top: 23px; left: 437px; background: url(img/018x050_studs_left.gif) no-repeat; }
.GHstuds2 { left: 765px; }


/*------------------------------
GLOBAL FOOTER
------------------------------*/
/*STRUCTURE*/
#GFcontainer { width: 950px; font: bold 60%/1.3 Verdana, lucida, arial, helvetica, sans-serif; }
ul#GFlinks { width: 921px; height: 26px; margin: 0 0 5px 0; padding: 0; text-indent: 16px; display: block; background: url(img/001x026_globalfooter_bg.gif) top left repeat-x; float: left; }
#GFlinks li { margin: 0 46px 0 0; padding: 0 0 0 16px; line-height: 26px; list-style: none; display: inline; background: url(img/010x010_stud.gif) 0 0 no-repeat;  }

/*HEADERS/PARAGRAPHS*/
#GFcontainer p { margin: 0 0 5px 0; text-align: center; font-weight: normal; color: #888C8E; }

/*LINKS*/
#GFlinks li a { text-decoration: none;  color: #474D50; }
#GFlinks li a:hover { color: #F16062; }
#GFlinks #GFlegalNotice a { color: #228DC5; }

/*IMAGES*/
#GFcontainer img { margin: 1px 0 0 0; float: right; }

