/*-- Generic --*/
#mainColumn1 { width:950px; float:right;}
#mainColumn2 {  display:none; }

/* REAL WIDE.CSS */

.column-tiny { width: 226px ; } 

.column-small { width: 306px ; } 

.column-half { width: 467px ; } 

.column-medium { width: 628px ; } 

.column-large { width: 950px ; } 

.inline-column-tiny { width: 219px; }

.inline-column-small { width: 297px; }

.inline-column-half { width: 453px; }

.inline-column-medium { width: 453px; }

.inline-column-large { width: 610px; }

/* SLIDESHOW */

.slideshow { width: 944px; }