

#siteContainer { background-image:url('http://cache.lego.com/images/universe/Community/Dark/mainWideHeading.png'); }

/* Columns */

.column-tiny  .column-content { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideTiny.png') ; } 
.column-tiny  .column-top { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideTiny.png') ; }

.column-small  .column-content { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideSmall.png') ; } 
.column-small  .column-top { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideSmall.png') ; }

.column-half  .column-content { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideHalf.png') ; } 
.column-half  .column-top { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideHalf.png') ; }

.column-medium  .column-content { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideMedium.png') ; } 
.column-medium  .column-top { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideMedium.png') ; }

.column-large  .column-content { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideLarge.png') ; } 
.column-large  .column-top { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideLarge.png') ; }

.column-row-1-1 .column-large .column-top ,
.column-row-1-1 .column-large .column-content ,
.column-row-1-2 .column-large .column-top ,
.column-row-1-2 .column-large .column-content { background-image:url('http://cache.lego.com/images/universe/Community/Dark/columnWideLarge.png') }