/* EDITED BY JAKOB 05 MAY 2010 SIGN IN SPECIFIC OVERWRITES */
#wrapper {  _background: url(https://a248.e.akamai.net/cache.lego.com/images/sign/img510x495_SignIn_BG_IE6.gif) no-repeat;}
#container h1 { width: 204px; position: relative; top: -4px; left: 35px;}
#container { width:510px; top:0; position:relative; }
#SIcontent { margin:0 auto; height:400px; left:150px; background: url(https://a248.e.akamai.net/cache.lego.com/images/account/img185x285_Minifig.gif) 14px 33px no-repeat; position:absolute; top:40px; width:680px; padding:0; overflow: hidden; }
#SIcontent fieldset { float:right; width:550px;border-width:0px; }
#SIcontent p.SIcheckBox { padding:8px 0 /*18px;*/; }
#SIcontent p.SIcheckBox input { float:left; width:auto; }
#SIcontent p.SIcheckBox label { display:block; font-weight:normal; left:0; padding:0px 0 0 25px; position:relative; text-align:left; top:0; width:auto; } 
#SIcontent h2 { background:url(https://a248.e.akamai.net/cache.lego.com/upload/contentTemplating/AccountDictionary/images/1033/pic67972312-BE21-4C85-BB07-739F0E6C02E7.gif) no-repeat scroll 0 0 transparent; height:39px; left:235px; position:relative; text-indent:-9999px; margin:0 0 -18px 0;top:24px; width:350px; }
#SIcontentSub { position: absolute; top:425px; left:30px; margin:0px auto ; border:1px dotted #6f6f6f;border-width:1px 0 1px 0; width:760px; padding:8px 0 2px 0px; }
#SIcontentSub a { background:url("https://a248.e.akamai.net/cache.lego.com/images/account/btn132x19_Blue.gif") repeat scroll 0 0 transparent; color:#FFFFFF; display:block; float:left; font-weight:bold; height:19px; margin:15px 0 0; text-align:center; text-decoration:none; }
#SIcontentSub .SIimgTxt { float:left; margin:15px 15px 15px 0px }
#SIcontentSub a.SIfaq { background:url(https://a248.e.akamai.net/cache.lego.com/upload/contentTemplating/AccountDictionary/images/1033/picCD1C7A66-D037-477E-A1B1-D5089DB8BB38.gif) no-repeat scroll right top transparent; display:block; float:right; height:24px; margin:15px 0 0; text-indent:-9999px; width:124px; }
/*SIGN IN FORM */
#field {width:350px;}
.field {left:200px;margin:0px 0 19px 0;} 
.field input {margin:0 0 0 5px; width:160px;}
.field label {width:120px;float:left; text-align:right;} 
a.btnGreen {position:relative; left:129px;}
p{position:relative; left:129px; width:195px;}
.error {left:0px; width:245px; text-align:left; position:relative; left:295px; color:red; top:-20px; height:0px;margin:0px;padding:0px;}
p.SIcheckBox input{margin:2px 0 0 0;}
#simplemodal-container { height:530px; width:510px; color:#bbb; overflow:visible; }
#InContextIFrame { height:510px; width:510px; padding:0}
#simplemodal-overlay { background-color:#000;} 