#legoHeader, #mainNavigation, #Breadcrumbs, #mainColumn2, .footer, #mainFooter { display:none; }
* { font-family: Tahoma, Sans-Serif; color:#000; background-image:none; }

#body { width:100%; position:static; margin:0; left:0; top:0;  }

#siteContainer { width: 100%; }

#mainColumn1 { width:100%; }

#mainHeading { margin-bottom:1cm; }

h1, h2, h3, h4, h5 { margin-bottom:.5cm; }

.column-tiny { width: 22%; }
.column-medium { width:30%; } 
.column-half { width:45%; }
.column-large { width: 100%; }


table { width:100%; margin:0 0 1cm 0; }
th { font-weight:bold; }
td { font-weight:normal; }

p { margin:.2cm 0 .5cm 0; }

.inline-row { margin:.5cm 0; }


.popupContent { display:none; }
.button { display:none; }

/* specifics */

.subscriptionStatus, .tabList, .infoPopup, .subscriptionNavigation, #SubscriptionDoneMinifig, .subscriptionTip, #verisignLogo
{ display:none; }